<a href="https://colab.research.google.com/github/YusufAbdurrahmann/data-cleaning/blob/main/data_cleaning.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import pandas as pd
import matplotlib.pyplot as plt

In [2]:
df = pd.read_csv("sales_satisfaction.csv")
df.head()

,Group,Customer_Segment,Sales_Before,Sales_After,Customer_Satisfaction_Before,Customer_Satisfaction_After,Purchase_Made
0,Control,High Value,240.548359,300.007568,74.684767,NaN,No
1,Treatment,High Value,246.862114,381.337555,100.000000,100.000000,Yes
2,Control,High Value,156.978084,179.330464,98.780735,100.000000,No
3,Control,Medium Value,192.126708,229.278031,49.333766,39.811841,Yes
4,NaN,High Value,229.685623,NaN,83.974852,87.738591,Yes

In [3]:
df.isnull().sum()

Group                           1401
Customer_Segment                1966
Sales_Before                    1522
Sales_After                      767
Customer_Satisfaction_Before    1670
Customer_Satisfaction_After     1640
Purchase_Made                    805
dtype: int64

# **Rename column tabel**

In [4]:
df = df.rename({"Group":"Groups"}, axis = 1)

# **Missing Values**

**1. Menghapus baris missing values**

In [5]:
df.dropna(subset = ["Groups"], inplace = True)

In [6]:
df.isnull().sum()

Groups                             0
Customer_Segment                1714
Sales_Before                    1319
Sales_After                      671
Customer_Satisfaction_Before    1447
Customer_Satisfaction_After     1426
Purchase_Made                    691
dtype: int64

**2. Mengisi missing values dengan imputasi**

In [7]:
df["Sales_Before"] = df["Sales_Before"].fillna(df["Sales_Before"].mode().iloc[0])

In [8]:
df.isnull().sum()

Groups                             0
Customer_Segment                1714
Sales_Before                       0
Sales_After                      671
Customer_Satisfaction_Before    1447
Customer_Satisfaction_After     1426
Purchase_Made                    691
dtype: int64

In [9]:
df.duplicated().sum()

np.int64(0)

# **data duplicated**

In [10]:
df = df.drop_duplicates()

In [11]:
df.duplicated().sum()

np.int64(0)